.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  //background-color: #111;
  background-image: linear-gradient(165deg, #5fa3b7 0, #408499 33%, #2d6e82 66%, #195466 100%);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.iconStyle{
  font-size: 80px;
  text-align: center;
  color: #333333;
  margin-top: 40px;
}

.contentText{
  font-size: 50px;
}

.back{
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg");
}